<form action="" #form="ngForm" (ngSubmit)="getInputData(form.value)">
    <label for="username">Username</label>
    <input 
        type="text" 
        placeholder="Username" 
        name="username" 
        id="username" 
        ngModel 
        #username="ngModel"
    >
    <br>

    <label for="email">Email</label>
    <input 
        type="email" 
        placeholder="Email"
        name="email" 
        id="email"
        ngModel
        #email="ngModel"
    >
    <br>

    <label for="password">Password</label>
    <input 
        type="password" 
        placeholder="Password" 
        name="password" 
        id="password" 
        ngModel 
        #password="ngModel"
    >
    <br>

    <button type="submit">Submit</button>
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 24px 48px;
        margin: 0 auto;
        gap: 6px;
    }
</style>